* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.apply_box {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}

.title_small {
    font-size: 30px;
}

.form_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_control {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
    margin-bottom: 5px;
}

input,
select,
textarea {
    padding: 6px 10px;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 15px;
}

input:focus {
    outline-color: crimson;
}

.button_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: red;
    border: black solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 9px;
    transition: 0.5s ease-out;
}

button:hover {
    background-color: blue;
    border: 2px solid black;
    color: white;
    transition: 0.4s ease-out;
    cursor: pointer;
}

@media (max-width: 460px) {
    grid-column: 1 / span 1;
}

;